h1 { text-align: left;}
.main {font-size:28px;} 
p {line-height: 90%;}
body {color: grey}
{font-size: 20px;} 
h1 { color: grey}
body { background-color:#B0B0AE; border-style: solid; border-width: 4px; padding-top: 25px; padding-right: 50px; padding-bottom: 25px; padding-left: 50px;}
